<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.1.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

    <!-- 首相要实例化目标对象类和切面类 -->

    <bean id="chinese" class="com.tl.aop.serviceImplement.Chinese"/>
    <bean id="american" class="com.tl.aop.serviceImplement.American"/>
    <bean id="aspectcn1" class="com.tl.aop.aopService.AopServiceWithXMLCN"/>
    <bean id="aspecteu1" class="com.tl.aop.aopService.AopServiceWithXMLEU"/>

    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <aop:config>
        <!-- 要切入的对象 -->
        <!-- 使用正则表达式
            <aop:pointcut expression="execution(* com.itnba.test.*.chifan(..))" id="chifan"/>
            <aop:pointcut expression="execution(* com.itnba.test.*.shijiao(..))" id="shijiao"/>
         -->
        <!--  <aop:之前before、之后after... method="切面类中的方法" pointcut-ref="上面的切入的对象"/>
           这个地方要注意, 如果切面的增强函数， 如果前连接点前后都使用，但是绑定连接点方法入参前后不一致的话， 必须配置
           两个独立的切点，表达式， 参数绑定 （否则导致bean初始化报错，原因增强函数的入参与切点配置绑定的入参不符）-->
        <aop:pointcut expression="execution(* com.tl.aop.serviceImplement.Chinese.doMeal(..)) and args(name, meal, ..)" id="doMealCNb"/>
        <aop:pointcut expression="execution(* com.tl.aop.serviceImplement.Chinese.doMeal(..))" id="doMealCNf"/>

        <aop:pointcut expression="execution(* com.tl.aop.serviceImplement.Chinese.doShower(..))" id="doShowerCN"/>
        <aop:pointcut expression="execution(* com.tl.aop.serviceImplement.American.doMeal(..)) and args(name, meal, ..)" id="doMealEUb"/>
        <aop:pointcut expression="execution(* com.tl.aop.serviceImplement.American.doMeal(..))" id="doMealEUf"/>
        <aop:pointcut expression="execution(* com.tl.aop.serviceImplement.American.doShower(..))" id="doShowerEU"/>
        <!-- 切入点 -->
        <aop:aspect id="cn" ref="aspectcn1"><!-- 切面类  -->
            <!--  <aop:之前before、之后after... method="切面类中的方法" pointcut-ref="上面的切入的对象"/>
            这个地方要注意, 如果切面的增强函数， 如果前连接点前后都使用，但是绑定连接点方法入参前后不一致的话， 必须配置
            两个独立的切点，表达式， 参数绑定 （否则导致bean初始化报错，原因增强函数的入参与切点配置绑定的入参不符）-->
            <aop:before method="chifanqian" pointcut-ref="doMealCNb" arg-names="name,meal"/><!-- 之前通知 -->
            <aop:after method="chifanhou" pointcut-ref="doMealCNf" /><!-- 之后通知 -->
            <aop:before method="shuijiaoqian" pointcut-ref="doShowerCN"/>
        </aop:aspect>
        <aop:aspect id="eu" ref="aspecteu1"><!-- 切面类  -->
            <!--  <aop:之前before、之后after... method="切面类中的方法" pointcut-ref="上面的切入的对象"/>  -->
            <aop:before method="chifanqian" pointcut-ref="doMealEUb" arg-names="name,meal"/><!-- 之前通知 -->
            <aop:after method="chifanhou" pointcut-ref="doMealEUf"/><!-- 之后通知 -->
            <aop:before method="shuijiaoqian" pointcut-ref="doShowerEU"/>
        </aop:aspect>
    </aop:config>
</beans>