<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.1.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

    <!-- 自动扫描包下的类，并将其实例化。多个包之间用,隔开 -->
    <context:component-scan base-package="com.tl.aop.aopService, com.tl.aop.serviceImplement"/>
    <!-- 配置文件中启动AspectJ的注解功能 ,默认是false，要将其改为true -->
    <!--
     1: 若 proxy-target-class="true" 代理使用cglib
     2: 若 proxy-target-class="false" 代理使用标准JDK基于接口的代理

     当前的AOP实现类没有对应的接口， 因此直接使用cglib
    -->

    <aop:aspectj-autoproxy proxy-target-class="true"/>
</beans>